#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
}

.card:hover{
  background-color: rgba(214, 191, 129, 0.1);
}

.errortext {
  color: #d68b81 !important;
  max-width: 330px;
  visibility: "hidden";
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 3%;
  color: #888;
}

.a_to_normal, .a_to_normal:hover{
  border: 0px;
  text-align: center !important;
  font-size: 18px;
  justify-content: end;
}

.button_login {
  align-self: flex-end;
  text-align: left;
  margin: 0 auto;
}

.logo_corner {
  margin: 0px 0px;
  position: absolute;
  left: 60px;
  top: 30px
}

.button_plus{
  all: unset;
  border: 2px solid;
  border-radius: 5px;
  padding: 0px 0px !important;
  width: 150px;
  height: 150px;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  margin-top: 70px;
  margin-left: 70px;
}

.button_plus:hover{
  width: 160px;
  height: 160px;
  background-color: rgba(214, 191, 129, 0.1);
  margin-left: 65px;
  margin-top: 65px;
}

.blue {
  color: #0FD4CD !important;
}

.flex_col{
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 20px;
  max-height: 620px;
  overflow-y: scroll;
  padding: 20px;
}

.card {
  box-sizing: border-box;
  padding: 0px;
  width: 300px;
  max-width: 300px;
  height: 300px;
  max-height: 300px;
  border: 2px solid;
  border-radius: 5px;
}

.card:hover{
  border: 4px solid;
}

.beige {
  all: unset;
  color: #D6BF81 !important;
  width: 40px;
  height: 40px;
}

.icon {
  width: 40px;
  height: 40px;
}

.absolute_tl {
  position: absolute;
  left: 10px;
  top: 10px;
}

.absolute_tr {
  position: absolute;
  right: 10px;
  top: 10px;
}

.absolute_bc {
  position: absolute;
  right: 130px;
  bottom: 40px;
}

.absolute_t {
  padding: 0px 0px;
  margin: 0px;
  position: absolute;
  top: 30px;
}

.relative {
  position: relative;
}

.svg.svg{
  width: 40px;
  height: 40px;
}

.svg2.svg{
  width: 35px;
  height: 35px;
}

.unset {
  border: 0px;
  padding: 0px 0px;
  margin: 0px 0px;
  width: fit-content;
  min-width: fit-content;
  height: fit-content;
  min-height: fit-content;
}

.unset_hover:hover{
  border: 0px;
}

.pointer {
  cursor: pointer !important;
}

.logo_bottom {
  position: absolute;
  bottom: 50px;
  left: 1407px;
}

.timer_b {
  height: 790px;
  padding-top: 10px;
  text-align: start !important;
  background-color: #D9D9D9;
  color: #242424;
  border-radius: 5px;
  font-size: 36px;
  writing-mode: vertical-rl;
  rotate: 180deg;
}

.timer_w {
  height: 790px;
  padding-top: 10px;
  text-align: start !important;
  background-color: #242424;
  color: #D9D9D9;
  border-radius: 5px;
  font-size: 36px;
  writing-mode: vertical-rl;
  rotate: 180deg;
}

.flex_center{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position:relative;
}

.lobby {
  color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: start;
}

.game_geometry {
  width: 1260px;
  height: 800px;
  margin-left: 30px;
  border-radius: 5px;
  position: relative;
}

.user_count {
  margin: 0px !important;
  font-size: 250px;
  line-height: 250px;
}

.user_card {
  background-color: #D9D9D9;
  border-radius: 5px;
  color: #242424;
  padding: 10px 15px;
  font-size: 36px;
  margin: 10px;
}

.user_card_wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1260px;
}

.question_title {
  height: 150px;
  font-size: 36px;
  color: #242424;
  vertical-align: middle;
}

.question {
  height: 620px;
  background-color: #242424;
  color: #d68b81;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.answer {
  color: #242424;
  font-size: 36px;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: start;
  padding-left: 50px;
  align-items: center;
  position: relative;
}

.space_top_timer {
  margin-top: 150px;
  height: 640px;
}

.letter_1 {
  position: absolute;
  top: 10px;
  left: 20px;
}

.letter_2 {
  position: absolute;
  top: 10px;
  right: 20px;
}

.letter_3 {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.letter_4 {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.clock {
  position: absolute;
  top: 425px;
  left: 580px;
  background-color: #242424;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

.debug_string {
  color: red !important;
  position: absolute;
  bottom: 20px;
  font-size: 10px;
}

.white_bg {
  background-color: #D9D9D9;
  color: #242424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}