#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
}

.card:hover{
  background-color: rgba(214, 191, 129, 0.1);
}

.half{
  min-height: 50px;
  min-width: 50px;
}

.errortext {
  color: #d68b81 !important;
  max-width: 330px;
  visibility: "hidden";
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  margin-left: 20px;
  text-align: start;
}

.footer {
  position: absolute;
  bottom: 3%;
  color: #888;
  font-size: 12px;
}

.text_constraint{
  max-width: 265px;
  max-height: 125px !important;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
  overflow: hidden;
  text-overflow: ellipsis;  
}

.a_to_normal, .a_to_normal:hover{
  border: 0px;
  text-align: center !important;
  font-size: 18px;
  justify-content: end;
}
.a_to_normal:hover{
  font-size: 20px;
}

.button_login {
  align-self: flex-end;
  text-align: left;
  margin: 0 auto;
}

.logo_corner {
  margin: 0px 0px;
  position: absolute;
  left: 60px;
  top: 30px
}
.button_plus_container {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_plus{
  all: unset;
  border: 2px solid;
  border-radius: 5px;
  padding: 0px 0px !important;
  width: 150px;
  height: 150px;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.button_plus:hover{
  width: 160px;
  height: 160px;
  background-color: rgba(214, 191, 129, 0.1);
}

.blue {
  color: #0FD4CD !important;
}

.flex_col{
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 20px;
  max-height: 620px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}

.card {
  box-sizing: border-box;
  padding: 0px;
  width: 300px;
  max-width: 300px;
  height: 300px;
  max-height: 300px;
  border: 2px solid;
  border-radius: 5px;
}

.card:hover{
  border: 4px solid;
}

.beige {
  all: unset;
  color: #D6BF81 !important;
  width: 40px;
  height: 40px;
}

.icon {
  width: 40px;
  height: 40px;
}

.absolute_tl {
  position: absolute;
  left: 10px;
  top: 10px;
}

.absolute_tr {
  position: absolute;
  right: 10px;
  top: 10px;
}

.add_hover_size {
  min-width: 150px;
  min-height: 150px;
  z-index: 10;
}
.add_hover_size_big {
  min-width: 270px;
  min-height: 270px;
  z-index: 9;
}


.add_hover_size_big {
  width: 300px !important;
  height: 130px !important;
}

.reposizion_l{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.reposizion_r{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.reposizion_c{
  display: flex;
  flex-direction: center;
  justify-content: center;
}

.absolute_bc {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.absolute_t {
  padding: 0px 0px;
  margin: 0px;
  position: absolute;
  top: 30px;
}

.relative {
  position: relative;
}

.svg.svg{
  width: 40px;
  height: 40px;
}

.svg2.svg2{
  width: 60px;
  height: 60px;
}

.add_hover_size:hover > .svg.svg{
  width: 50px;
  height: 50px;
}


.add_hover_size_big:hover > .svg.svg{
  width: 50px;
  height: 50px;
}


.add_hover_size_big:hover > .svg2.svg2{
  width: 75px;
  height: 75px;
}

.svg2.svg{
  width: 35px;
  height: 35px;
}

.unset {
  border: 0px;
  padding: 0px 0px;
  margin: 0px 0px;
  width: fit-content;
  min-width: fit-content;
  height: fit-content;
  min-height: fit-content;
}

.unset_all{
  all: unset;
}

.unset_hover:hover{
  padding-left: 0px !important;
  border: 0px;
}

.pointer {
  cursor: pointer !important;
}

.logo_bottom {
  position: absolute;
  bottom: 50px;
  left: 1407px;
}

.timer_b {
  height: 790px;
  padding-top: 10px;
  text-align: start !important;
  background-color: #D9D9D9;
  color: #242424;
  border-radius: 5px;
  font-size: 36px;
  writing-mode: vertical-rl;
  rotate: 180deg;
}

.timer_w {
  height: 790px;
  padding-top: 10px;
  text-align: start !important;
  background-color: #242424;
  color: #D9D9D9;
  border-radius: 5px;
  font-size: 36px;
  writing-mode: vertical-rl;
  rotate: 180deg;
}

.flex_center{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position:relative;
}

.lobby {
  color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: start;
  padding-left: 10px;
}

.game_geometry {
  width: 1260px;
  height: 800px;
  margin-left: 10px;
  border-radius: 5px;
  position: relative;
}

.griddd {
  max-width: 1260px !important;
  display: grid;
  grid-template-columns: repeat(auto-fill, 630px);
  grid-template-rows: repeat(10, 80px);
  overflow-x: auto;
}

.user_count {
  margin: 0px !important;
  padding-left: 10px;
  font-size: 250px;
  line-height: 250px;
}

.room_id{
  font-size: 125px;
  line-height: 125px;
  color: #709B95;
}

.room_helptext{
  font-size: 36px;
  line-height: 36px;
  opacity: 20%;
}

.start_button{
  margin-left: 10px;
  margin-top: 40px;
  padding-right: 400px;
  position: absolute;
  bottom: 0px;
  color: #D9D9D9 !important;
  border-color: #D9D9D9 !important;
}

.user_card {
  background-color: #B0B0B0;
  border-radius: 5px;
  color: #242424;
  padding: 10px 15px;
  font-size: 36px;
  margin: 10px;
}

.user_card_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1260px;
  max-height: 450px;
  overflow-y: auto;
}
.gray_scroll::-webkit-scrollbar-track {
  border-color: #B0B0B0;
}

.gray_scroll::-webkit-scrollbar-thumb {
  background-color: #B0B0B0;
}

.white_scroll::-webkit-scrollbar-track {
  border-color: #D9D9D9;
}

.white_scroll::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.black_scroll::-webkit-scrollbar-track {
  border-color: #242424;
}

.black_scroll::-webkit-scrollbar-thumb {
  background-color: #242424;
}
.text_question_wrapper {
  height: 140px;
  width: 1130px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  justify-content: end;
}

.question_title {
  max-height: 140px;
  min-height: 45px;
  font-size: 36px;
  line-height: 44px;
  color: #242424;
  padding-left: 20px;
  max-width: 1130px;
  z-index: 20;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: start;
}

.right_arrow.right_arrow {
  position: absolute;
  left: -10px;
}

.pdtp{
  max-height: 50px !important;
  max-height: 50px !important;
}

.arrowsvg.arrowsvg{
  height: 40px;
  width: 40px;
}

.question_numbers{
  position: absolute;
  right: 20px;
  top: 100px;
  font-size: 36px;
  text-align: end;
  color: #242424;
}

.question_next_btn{
  color: #242424 !important;
  border-color: #242424;
  padding-right: 130px;
  margin-top: 10px;

  height: 50px !important;
  max-height: 50px !important;
  min-height: 50px !important;
  width: 50px !important;
  max-width: 50px !important;
  min-width: 50px !important;
  padding: 0px;
  padding-left: 9px;
  padding-top: 7px;

  position: absolute;
  right: -60px;
  top: 440px;
}
.question_next_btn:hover{
  padding-left: 7px;
}


.question {
  height: 620px;
  background-color: #242424;
  color: #d68b81;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.answer {
  color: #242424;
  font-size: 36px;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: start;
  padding-left: 50px;
  align-items: center;
  position: relative;
}

.space_top_timer {
  margin-top: 150px;
  height: 640px;
}
.space_top_start {
  margin-top: 90px;
  height: 640px;
}

.letter_1 {
  position: absolute;
  top: 10px;
  left: 20px;
}

.letter_2 {
  position: absolute;
  top: 10px;
  right: 20px;
}

.letter_3 {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.letter_4 {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.clock {
  position: absolute;
  top: 425px;
  left: 580px;
  background-color: #242424;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

.debug_string {
  color: red !important;
  position: absolute;
  bottom: 20px;
  font-size: 10px;
}

.white_bg {
  background-color: #D9D9D9;
  color: #242424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.space_top {
  margin-top: 75px;
}

.answer_tag{
  height: 50px;
  width: 50px;
}

.flex_row{
  display: flex;
}

.enlarge{
  position: absolute;
  height: 500px;
  width: 500px;
}

.input_area{
  margin-bottom: 20px;
  background-color: #B0B0B0;
  border-radius: 5px;
  min-width: 310px;
  min-height: 70px;
  text-align: left;
  border: 0px;
  font-family: inherit;
  font-size: 26px;
  color: #242424;
  padding-left: 20px;
  resize: none;
}

.small {
  all: unset;
  box-sizing: border-box;
  width: 30px !important;
  max-height: 70px;
  margin-left: 5px;
  border: 2px solid;
  border-radius: 5px;
  margin-left: 13px;
}

.small_input{
  all: unset;
  margin-bottom: 20px;
  background-color: #B0B0B0;
  border-radius: 5px;
  width: 190px;
  min-height: 70px;
  text-align: left;
  border: 0px;
  font-family: inherit;
  font-size: 26px;
  color: #242424;
  padding-left: 20px;
}

.small_a_to_normal {
  all: unset;
}
.small_a_to_normal:hover {
  all: unset;
}

.constraint{
  max-height: 170px;
  overflow: auto;
  scrollbar-width: none !important;
  overflow-x: hidden;
}

.constraint::-webkit-scrollbar {
  width: 12px;
}

.constraint::-webkit-scrollbar-track {
  border: 2px solid;
  border-radius: 5px;
  }

.constraint::-webkit-scrollbar-thumb {
  background-color: #D6BF81;
  border-radius: 5px;
}

.small_textarea{
  all: unset;
  margin-bottom: 10px;
  background-color: #B0B0B0;
  border-radius: 5px;
  width: 250px;
  min-height: 70px;
  text-align: left;
  border: 0px;
  font-family: inherit;
  font-size: 26px;
  color: #242424;
  padding-left: 20px;
}

.adder {
  width: 490px;
  border: 2px solid;
  border-radius: 5px;
  padding: 20px;
  padding-right: 10px;
  margin-top: 20px;
}

.text_login{
  width: 315px;
  text-align: start !important;
  padding-left: 20px;
}

.text_question{
  font-size: 26px;
  text-align: start;
  padding-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px !important;
}

.long_input{
  min-width: 420px !important;
  max-width: 420px !important;
}

.width_to_fit{
  min-width: 440px !important;
  max-width: 440px !important;
}

.space_bottom{
  margin-bottom: 30px;
}

.leavebtn{
  all: unset;
  align-self: flex-end;
  margin: 0px !important;
  max-height: 40px !important;
  font-size: 18px;
  padding-bottom: 10px;
  padding-right: 50px;
}
.leavebtn:hover{
 font-size: 20px;
 padding-bottom: 7px;
}

.pading_top{
  padding-top: 25px;
}

.blue {
  color: #0FD4CD;
}

.absolute_br{
  position: absolute;
  right: 0px;
  bottom: -60px;
}

.counter{
  display: flex;
  flex-direction: row;
  max-width: 500px;
}

.counter_button{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid;
  border-radius: 5px;
  text-align: center !important;
  width: 210px;
  height: 72px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.counter_button:hover{
  all: unset;
  text-align: center !important;
  border-radius: 5px;
  font-size: 36px;
  width: 210px;
  height: 72px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 4px solid;
  box-sizing: border-box;
}

.logo_wrap{
  width: 1330px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.logo_down{
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  background-color: #242424;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 36px;
}

.flex_col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spacer{
  height: 50px;
}

.user_scores{
  display: flex;
  flex-direction: row;
  max-width: 580px;
  height: 70px;
  color: #242424;
  font-size: 26px;
  margin-bottom: 10px;
  margin-right: 100px;
}

.user_index {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  height: 70px;
  background-color: #D9D9D9;
}

.user_name {
  background-color: #B0B0B0;
  min-width: 420px;
  margin-left: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-left: 20px;
  align-items: center;
}

.user_score {
  background-color: #B0B0B0;
  min-width: 70px;
  margin-left: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user_first_ind{
  box-sizing: border-box;
  /* color: #D6BF81 !important;
  border-color: #D6BF81 !important; */
  border: 2px solid;
  background-color: #D7CCAD !important;
}

.user_first_name{
  box-sizing: border-box;
  /* color: #D6BF81 !important;
  border-color: #D6BF81 !important; */
  border: 2px solid;
  background-color: #C5B078 !important;
}

.user_first_score{
  box-sizing: border-box;
  /* color: #D6BF81 !important;
  border-color: #D6BF81 !important; */
  border: 2px solid;
  background-color: #C5B078 !important;
}