.room {
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.questionedit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 75px;
}


.main {
    display: flex;
    flex-direction: row-reverse;
}